#menuBack {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#navbarbootom {
  border-radius: 20px 20px 0px 0;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.far.fa-money-bill-alt {
}

.d-flex.justify-content-center.align-items-center {
  margin: 0 auto;
}

.justify-content-center.align-items-center {
  height: 400px;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  width: 100%;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
}

